.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 1rem;
}

.logo {
    height: 4em;
    padding: 1.0em;
    will-change: filter;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}